@font-face {
    font-family: 'Horizon';
    src: url('assets/fonts/horizon.otf') format('opentype'); /* Adjust this path if necessary */
}

body {
    font-family: 'Horizon', sans-serif; /* Use the font for body text */
}

h1{
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    background-color: #333;
    padding: 0px;
    margin: 0px;
    display: flex; /* Use flexbox to arrange items horizontally */
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;    
    display: block; /* Make the entire area clickable */
    text-align: center;
}

.navbar a:hover {
    background-color: #575757; /* Change background on hover */
}

.navbar li {
    margin: 0; /* No margin between items */
}