@font-face {
    font-family: 'Horizon';
    src: url('assets/fonts/horizon.otf') format('opentype'); /* Adjust this path if necessary */
}

body {
    font-family: 'Horizon', sans-serif; /* Use the font for body text */
}

h1{
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    background-color: #333;
    padding: 0px;
    margin: 0px;
    display: flex; /* Use flexbox to arrange items horizontally */
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;    
    display: block; /* Make the entire area clickable */
    text-align: center;
}

.navbar a:hover {
    background-color: #575757; /* Change background on hover */
}

.navbar li {
    margin: 0; /* No margin between items */
}

/* RELEASE SECTION */

.album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.album {
    position: relative; /* Allows for absolute positioning of img */
    overflow: hidden; /* Ensures images fit within their container */
    width: 100%; /* Ensure full width for the album block */
}

.album img {
    width: 100%;
    height: auto; /* Keep aspect ratio */
    display: block;
}

.album img {
    width: 100%;
    height: 100%; /* Make image fill the container */
    object-fit: cover; /* Ensure image covers the square area */
    /* border-radius: 8px; Optional: adds rounded corners */
    aspect-ratio: 1; /* Makes the image a perfect square */
}

h3 {
    text-align: center;
    margin: 20px 0;
}






